<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      th:replace="~{ base :: layout(~{::title} , ~{::section} ) }">
<head>
    <meta charset="ISO-8859-1">
    <title>View Notes</title>
</head>
<body class="bg-dark">
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <h4 class="text-center">Total Notes: <span th:text="${totalNotesCount}"></span></h4>
            </div>
        </div>

        <h4 class="text-center" th:if="${searchResults}">Search Results</h4>
        <h4 class="text-center" th:unless="${searchResults}">All Notes</h4>

        <div class="row">
            <div th:if="${searchResults}" th:each="n: ${searchResults}" class="col-md-4 mt-2">
                <div class="card h-100 shadow p-3 mb-5 bg-info rounded">
                    <div class="card-body mb-3">
                        <h5 class="card-title fw-bold">[[${n.title}]]</h5>
                        <p class="card-text">[[${n.description}]]</p>
                        <p class="card-text"><small class="text-muted">Publish Date: <span class="fw-bold">[[${n.date}]]</span></small></p>
                        <p class="card-text"><small class="text-muted">Category: [[${n.category}]]</small></p>
                    </div>
                    <img th:src="@{/img/{imagePath}(imagePath=${n.image})}" class="card-img-bottom img-fluid" alt="Note Image" style="height: 200px; width: auto;">
                    <div class="card-footer bg-white">
                        <div class="d-flex justify-content-end">
                            <a th:href="@{'editNotes/'+${n.id}}" class="btn btn-primary btn-sm me-2">Edit</a>
                            <a th:href="@{'deleteNotes/'+${n.id}}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <div th:unless="${searchResults}" th:each="n: ${notesList}" class="col-md-4 mt-2 mb-3">
                <div class="card h-100 shadow p-3 mb-5 bg-info rounded">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">[[${n.title}]]</h5>
                        <p class="card-text">[[${n.description}]]</p>
                        <p class="card-text"><small class="text-muted">Publish Date: <span class="fw-bold">[[${n.date}]]</span></small></p>
                        <p class="card-text"><small class="text-muted">Category: [[${n.category}]]</small></p>
                    </div>
                    <img th:src="@{/img/{imagePath}(imagePath=${n.image})}" class="card-img-bottom img-fluid" alt="Note Image" style="height: 200px; width: auto;">
                    <div class="card-footer bg-white">
                        <div class="d-flex justify-content-end">
                            <a th:href="@{'editNotes/'+${n.id}}" class="btn btn-primary btn-sm me-2">Edit</a>
                            <a th:href="@{'deleteNotes/'+${n.id}}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
